<h1 class="title">Products</h1>
<div id="productList" class = "d-flex flex-wrap gap-2 "></div>
<div>
    <form id="formNewProduct" class=" row g-3 w-50 ms-3 ">
        <div class="col-auto ms-3 ">
            <h2>Añadir nuevo producto!</h2>
        </div>
        <div class="col-auto d-flex flex-wrap mb-2 ">
            <input type="text" class="form-control" name="title" placeholder="title">
            <input type="text" class="form-control" name="description" placeholder="description">
            <input type="number" class="form-control" name="price" placeholder="price">
            <input type="text" class="form-control" name="thumbnail" placeholder="thumbnail">
            <input type="text" class="form-control" name="status" placeholder="status">
            <input type="text" class="form-control" name="category" placeholder="category">
            <input type="text" class="form-control" name="code" placeholder="code">
            <input type="number" class="form-control" name="stock" placeholder="stock">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-dark mb-3">Agregar producto</button>
        </div>
    </form>
</div>